.mainContainer {
  width: 100%;
  margin-inline: auto;
  max-width: 1400px;
  padding-inline: 1rem;
  color: rgba(255, 255, 255, 1);
  font-family: 'Karla';
  padding-top: 2rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.cardContent {
  padding: 1.5rem;
  background: #0e1118;
  border-radius: 0.5rem;
}

.mainTitle {
  font-size: 2rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: center;

  .logo {
    margin-right: 10px;
    color: #656872;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .content {
    font-size: 14px;
    color: #656872;
  }
}

.priceRadioGroup {
  :global {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: white;
      background: #0030D4;
      margin: 0 2px;
    }

    .ant-radio-button-wrapper {
      background: #010101;
      color: #b5b5b6;
      border: unset;
      margin: 0 2px;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
      width: 0;
    }
  }
}

.vaultTitle {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}